In [3]:
print('hello world')

hello world

In [4]:

pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\pradeep gontla\lib\site-packages (0.22.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\pradeep gontla\lib\site-packages (from mlxtend) (1.11.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\pradeep gontla\lib\site-packages (from mlxtend) (1.25.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\pradeep gontla\lib\site-packages (from mlxtend) (2.0.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\pradeep gontla\lib\site-packages (from mlxtend) (1.3.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\pradeep gontla\lib\site-packages (from mlxtend) (3.7.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\pradeep gontla\lib\site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: setuptools in c:\users\pradeep gontla\lib\site-packages (from mlxtend) (65.5.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\pradeep gontla\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\pradeep gontla\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\pradeep gontla\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.42.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\pradeep gontla\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\pradeep gontla\appdata\roaming\python\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\pradeep gontla\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\pradeep gontla\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pradeep gontla\appdata\roaming\python\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pradeep gontla\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\pradeep gontla\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\pradeep gontla\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\pradeep gontla\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori, association_rules

In [6]:
order_data = pd.read_csv('data/order_products__train.csv')
order_data.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [7]:

order_data.notnull().sum()

order_id             1384617
product_id           1384617
add_to_cart_order    1384617
reordered            1384617
dtype: int64

In [8]:
order_data.isna().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [27]:
order_data = order_data.head(25)

In [28]:
basket = (order_data.groupby(['order_id','product_id'])['add_to_cart_order'].sum().unstack().reset_index().fillna(0).set_index('order_id'))

In [29]:
basket

product_id,4461,10246,11109,11913,13176,18159,19660,21616,22035,23622,...,42625,43086,43633,46620,46979,47209,48679,49235,49302,49683
order_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,3.0,2.0,0.0,6.0,0.0,0.0,0.0,8.0,0.0,...,0.0,0.0,5.0,0.0,0.0,7.0,0.0,0.0,1.0,4.0
36,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,4.0,0.0,5.0,8.0,0.0,7.0,3.0,0.0,0.0
38,3.0,0.0,0.0,1.0,0.0,2.0,0.0,4.0,0.0,5.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
def convert_to_category(x):
    if x<=0:return 0
    if x>=1: return 1
my_basket_sets = basket.applymap(convert_to_category)

In [31]:
my_basket_sets

product_id,4461,10246,11109,11913,13176,18159,19660,21616,22035,23622,...,42625,43086,43633,46620,46979,47209,48679,49235,49302,49683
order_id,,,,,,,,,,,,,,,,,,,,,
1,0,1,1,0,1,0,0,0,1,0,...,0,0,1,0,0,1,0,0,1,1
36,0,0,0,0,0,0,1,0,0,0,...,0,1,0,1,1,0,1,1,0,0
38,1,0,0,1,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,0

In [32]:
my_frequent_items = apriori(my_basket_sets,min_support=0.07,use_colnames=True)

c:\Users\Pradeep Gontla\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [33]:
my_rules = association_rules(my_frequent_items,metric='lift',min_threshold=1)

In [34]:
my_rules.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(11913),(4461),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
1,(4461),(11913),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
2,(4461),(18159),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
3,(18159),(4461),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
4,(21616),(4461),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
5,(4461),(21616),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
6,(4461),(23622),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
7,(23622),(4461),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
8,(28842),(4461),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
9,(4461),(28842),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0

In [36]:
my_rules[(my_rules['lift'] >=3)& (my_rules['confidence'] >=0.8)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(11913),(4461),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
1,(4461),(11913),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
2,(4461),(18159),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
3,(18159),(4461),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
4,(21616),(4461),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
...,...,...,...,...,...,...,...,...,...,...
30755,(4461),"(42625, 23622, 11913, 28842, 39693, 18159, 216...",0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
30756,(39693),"(42625, 23622, 11913, 28842, 4461, 18159, 2161...",0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
30757,(18159),"(42625, 23622, 11913, 28842, 4461, 39693, 2161...",0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
30758,(21616),"(42625, 23622, 11913, 28842, 4461, 39693, 1815...",0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0
30759,(32433),"(42625, 23622, 11913, 28842, 4461, 39693, 1815...",0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf,1.0

In [37]:
product_data = pd.read_csv('data/products.csv')

In [38]:
product_data

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [41]:
product_row = product_data.loc[product_data['product_id'] == 4461]
prodcut_name = product_row['product_name']

In [42]:
prodcut_name

4460    Organic Raw Unfiltered Apple Cider Vinegar
Name: product_name, dtype: object

In [44]:
!pip install nbconvert

Collecting nbconvert
  Downloading nbconvert-7.8.0-py3-none-any.whl (254 kB)
                                              0.0/254.9 kB ? eta -:--:--
     ----                                    30.7/254.9 kB 1.3 MB/s eta 0:00:01
     ----------------                       112.6/254.9 kB 1.6 MB/s eta 0:00:01
     -------------------------------------- 254.9/254.9 kB 2.0 MB/s eta 0:00:00
Collecting beautifulsoup4 (from nbconvert)
  Downloading beautifulsoup4-4.12.2-py3-none-any.whl (142 kB)
                                              0.0/143.0 kB ? eta -:--:--
     -------------------------------------- 143.0/143.0 kB 8.8 MB/s eta 0:00:00
Collecting bleach!=5.0.0 (from nbconvert)
  Downloading bleach-6.0.0-py3-none-any.whl (162 kB)
                                              0.0/162.5 kB ? eta -:--:--
     -------------------------------------- 162.5/162.5 kB 9.5 MB/s eta 0:00:00
Collecting defusedxml (from nbconvert)
  Downloading defusedxml-0.7.1-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: jinja2>=3.0 in c:\users\pradeep gontla\appdata\local\programs\python\python310\lib\site-packages (from nbconvert) (3.1.2)
Collecting jupyter-core>=4.7 (from nbconvert)
  Using cached jupyter_core-5.3.1-py3-none-any.whl (93 kB)
Collecting jupyterlab-pygments (from nbconvert)
  Downloading jupyterlab_pygments-0.2.2-py2.py3-none-any.whl (21 kB)
Requirement already satisfied: markupsafe>=2.0 in c:\users\pradeep gontla\appdata\local\programs\python\python310\lib\site-packages (from nbconvert) (2.1.2)
Collecting mistune<4,>=2.0.3 (from nbconvert)
  Downloading mistune-3.0.1-py3-none-any.whl (47 kB)
                                              0.0/48.0 kB ? eta -:--:--
     ---------------------------------------- 48.0/48.0 kB ? eta 0:00:00
Collecting nbclient>=0.5.0 (from nbconvert)
  Downloading nbclient-0.8.0-py3-none-any.whl (73 kB)
                                              0.0/73.1 kB ? eta -:--:--
     ---------------------------------------- 73.1/73.1 kB 3.9 MB/s eta 0:00:00
Collecting nbformat>=5.7 (from nbconvert)
  Downloading nbformat-5.9.2-py3-none-any.whl (77 kB)
                                              0.0/77.6 kB ? eta -:--:--
     ---------------------------------------- 77.6/77.6 kB 4.5 MB/s eta 0:00:00
Requirement already satisfied: packaging in c:\users\pradeep gontla\appdata\local\programs\python\python310\lib\site-packages (from nbconvert) (22.0)
Collecting pandocfilters>=1.4.1 (from nbconvert)
  Downloading pandocfilters-1.5.0-py2.py3-none-any.whl (8.7 kB)
Collecting pygments>=2.4.1 (from nbconvert)
  Downloading Pygments-2.16.1-py3-none-any.whl (1.2 MB)
                                              0.0/1.2 MB ? eta -:--:--
     ----------                               0.3/1.2 MB 19.2 MB/s eta 0:00:01
     ----------------------------             0.8/1.2 MB 10.5 MB/s eta 0:00:01
     ---------------------------------------- 1.2/1.2 MB 10.6 MB/s eta 0:00:00
Collecting tinycss2 (from nbconvert)
  Downloading tinycss2-1.2.1-py3-none-any.whl (21 kB)
Collecting traitlets>=5.1 (from nbconvert)
  Using cached traitlets-5.9.0-py3-none-any.whl (117 kB)
Requirement already satisfied: six>=1.9.0 in c:\users\pradeep gontla\appdata\local\programs\python\python310\lib\site-packages (from bleach!=5.0.0->nbconvert) (1.16.0)
Collecting webencodings (from bleach!=5.0.0->nbconvert)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: platformdirs>=2.5 in c:\users\pradeep gontla\appdata\local\programs\python\python310\lib\site-packages (from jupyter-core>=4.7->nbconvert) (3.0.0)
Collecting pywin32>=300 (from jupyter-core>=4.7->nbconvert)
  Downloading pywin32-306-cp310-cp310-win_amd64.whl (9.2 MB)
                                              0.0/9.2 MB ? eta -:--:--
     --                                       0.5/9.2 MB 10.5 MB/s eta 0:00:01
     -----                                    1.2/9.2 MB 12.5 MB/s eta 0:00:01
     -------                                  1.7/9.2 MB 12.1 MB/s eta 0:00:01
     ----------                               2.4/9.2 MB 12.7 MB/s eta 0:00:01
     -------------                            3.1/9.2 MB 13.3 MB/s eta 0:00:01
     ---------------                          3.6/9.2 MB 12.8 MB/s eta 0:00:01
     -----------------                        4.1/9.2 MB 12.4 MB/s eta 0:00:01
     --------------------                     4.7/9.2 MB 12.6 MB/s eta 0:00:01
     ----------------------                   5.2/9.2 MB 12.3 MB/s eta 0:00:01
     -------------------------                5.8/9.2 MB 12.4 MB/s eta 0:00:01
     --------------------------               6.2/9.2 MB 12.0 MB/s eta 0:00:01
     -----------------------------            6.9/9.2 MB 12.2 MB/s eta 0:00:01
     --------------------------------         7.5/9.2 MB 12.2 MB/s eta 0:00:01
     -----------------------------------      8.1/9.2 MB 12.3 MB/s eta 0:00:01
     --------------------------------------   8.8/9.2 MB 12.5 MB/s eta 0:00:01
     ---------------------------------------  9.2/9.2 MB 12.8 MB/s eta 0:00:01
     ---------------------------------------- 9.2/9.2 MB 12.0 MB/s eta 0:00:00
Collecting jupyter-client>=6.1.12 (from nbclient>=0.5.0->nbconvert)
  Downloading jupyter_client-8.3.1-py3-none-any.whl (104 kB)
                                              0.0/104.1 kB ? eta -:--:--
     -------------------------------------- 104.1/104.1 kB 6.3 MB/s eta 0:00:00
Collecting fastjsonschema (from nbformat>=5.7->nbconvert)
  Downloading fastjsonschema-2.18.0-py3-none-any.whl (23 kB)
Collecting jsonschema>=2.6 (from nbformat>=5.7->nbconvert)
  Downloading jsonschema-4.19.0-py3-none-any.whl (83 kB)
                                              0.0/83.4 kB ? eta -:--:--
     ---------------------------------------- 83.4/83.4 kB 4.6 MB/s eta 0:00:00
Collecting soupsieve>1.2 (from beautifulsoup4->nbconvert)
  Downloading soupsieve-2.4.1-py3-none-any.whl (36 kB)
Requirement already satisfied: attrs>=22.2.0 in c:\users\pradeep gontla\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (22.2.0)
Collecting jsonschema-specifications>=2023.03.6 (from jsonschema>=2.6->nbformat>=5.7->nbconvert)
  Downloading jsonschema_specifications-2023.7.1-py3-none-any.whl (17 kB)
Collecting referencing>=0.28.4 (from jsonschema>=2.6->nbformat>=5.7->nbconvert)
  Downloading referencing-0.30.2-py3-none-any.whl (25 kB)
Collecting rpds-py>=0.7.1 (from jsonschema>=2.6->nbformat>=5.7->nbconvert)
  Downloading rpds_py-0.10.0-cp310-none-win_amd64.whl (184 kB)
                                              0.0/184.5 kB ? eta -:--:--
     ------------------------------------- 184.5/184.5 kB 10.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pradeep gontla\appdata\local\programs\python\python310\lib\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (2.8.2)
Collecting pyzmq>=23.0 (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert)
  Downloading pyzmq-25.1.1-cp310-cp310-win_amd64.whl (1.2 MB)
                                              0.0/1.2 MB ? eta -:--:--
     ------------------                       0.5/1.2 MB 11.1 MB/s eta 0:00:01
     ----------------------------------       1.0/1.2 MB 12.9 MB/s eta 0:00:01
     ----------------------------------       1.0/1.2 MB 12.9 MB/s eta 0:00:01
     ----------------------------------       1.0/1.2 MB 12.9 MB/s eta 0:00:01
     ----------------------------------       1.0/1.2 MB 12.9 MB/s eta 0:00:01
     ----------------------------------       1.0/1.2 MB 12.9 MB/s eta 0:00:01
     -----------------------------------      1.0/1.2 MB 3.4 MB/s eta 0:00:01
     -----------------------------------      1.0/1.2 MB 3.0 MB/s eta 0:00:01
     ------------------------------------     1.1/1.2 MB 2.7 MB/s eta 0:00:01
     ---------------------------------------  1.2/1.2 MB 2.6 MB/s eta 0:00:01
     ---------------------------------------- 1.2/1.2 MB 2.5 MB/s eta 0:00:00
Collecting tornado>=6.2 (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert)
  Downloading tornado-6.3.3-cp38-abi3-win_amd64.whl (429 kB)
                                              0.0/429.2 kB ? eta -:--:--
     ----------------------                256.0/429.2 kB 16.4 MB/s eta 0:00:01
     -------------------------------------- 429.2/429.2 kB 9.1 MB/s eta 0:00:00
Installing collected packages: webencodings, pywin32, fastjsonschema, traitlets, tornado, tinycss2, soupsieve, rpds-py, pyzmq, pygments, pandocfilters, mistune, jupyterlab-pygments, defusedxml, bleach, referencing, jupyter-core, beautifulsoup4, jupyter-client, jsonschema-specifications, jsonschema, nbformat, nbclient, nbconvert
Successfully installed beautifulsoup4-4.12.2 bleach-6.0.0 defusedxml-0.7.1 fastjsonschema-2.18.0 jsonschema-4.19.0 jsonschema-specifications-2023.7.1 jupyter-client-8.3.1 jupyter-core-5.3.1 jupyterlab-pygments-0.2.2 mistune-3.0.1 nbclient-0.8.0 nbconvert-7.8.0 nbformat-5.9.2 pandocfilters-1.5.0 pygments-2.16.1 pywin32-306 pyzmq-25.1.1 referencing-0.30.2 rpds-py-0.10.0 soupsieve-2.4.1 tinycss2-1.2.1 tornado-6.3.3 traitlets-5.9.0 webencodings-0.5.1

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: C:\Users\Pradeep Gontla\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip